*.o
*.a
*.S
libdogs.so
test_aesctr
test_ntt
test_poly
test_poly_cfft
test_polz
test_jlproj
test_jlproj_bin1
test_falcon

test_dachshund
test_constraints
test_proofsystem
test_labrador
test_labrador_tail
test_labradoodle
test_pack
test_orthus
test_lnp
aggsig
bench_labrador_params
bench_labrador_tail_params
bench_labradoodle_params
bench_pack_params
test_gaussian
test_rejection
